body {
  background-color: #b5bf99;
  font-family: 'Lexend Deca', sans-serif;
}
h2 {
  font-size: 45px;
  font-weight: 200;
  margin-top: 30px;

  margin-bottom: 10px;
  text-align: left;
}
form {
  text-align: center;
  color: white;
}
select {
  border-radius: 10px;
  width: 200px;
  height: 35px;
  box-shadow: 0 100px 50px rgba(65, 50, 100, 0.08);
  border-color: white;
  border-width: 7px;
  color: #a6a6a6;
  padding: 0 5px;
  font-weight: 250;
  margin: 20px 10px 10px 10px;
  font-family: 'Lexend Deca', sans-serif;
}
.container {
  background: #aab68c;
  max-width: 550px;
  margin: 30px auto 40px;
  padding: 10px 30px 20px 50px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  text-align: center;
  color: white;
  border-radius: 20px;
}
.city {
  display: flex;
  justify-content: space-between;
}
footer {
  color: white;
  text-align: center;
  font-weight: 200;
}
.weather {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 17px;
  display: block;
  margin: auto;
  background-color: #c3cfa3;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  max-width: 250px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.time {
  font-size: 50px;
  font-weight: 300;
  margin-top: 30px;
  margin-right: 20px;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
}
.date {
  font-weight: 200;
  margin-left: 0px;
  text-align: left;
  margin-bottom: 15px;
}
a {
  font-weight: 150;
  color: white;
}
form label {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 100;
}
footer {
  margin-top: 50px;
  font-size: 15px;
  color: white;
}
